name: Power Apps CI Reusable Workflow (Export & Unpack)

on:
  workflow_call:
    inputs:
      solution-name:
        required: true
        type: string
        description: 'Name of the Power Platform solution'
      environment-url:
        required: true
        type: string
        description: 'URL of the Power Platform environment'
      solution-output-folder:
        required: false
        type: string
        default: 'out/solutions'
        description: 'Folder path for solution output'
      solution-type:
        required: false
        type: string
        default: 'Unmanaged'
        description: 'Solution type (Managed/Unmanaged)'
    secrets:
      azure_client_id:
        required: true
      azure_client_secret:
        required: true
      azure_tenant_id:
        required: true

jobs:
  export-and-unpack:
    runs-on: windows-latest
    environment: development
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Install Power Platform Tools
        uses: microsoft/powerplatform-actions/actions-install@v1

      - name: Who Am I (Verify Connection)
        uses: microsoft/powerplatform-actions/who-am-i@v1
        with:
          environment-url: ${{ inputs.environment-url }}
          app-id: ${{ secrets.azure_client_id }}
          client-secret: ${{ secrets.azure_client_secret }}
          tenant-id: ${{ secrets.azure_tenant_id }}

      - name: Export Solution
        uses: microsoft/powerplatform-actions/export-solution@v1
        with:
          environment-url: ${{ inputs.environment-url }}
          app-id: ${{ secrets.azure_client_id }}
          client-secret: ${{ secrets.azure_client_secret }}
          tenant-id: ${{ secrets.azure_tenant_id }}
          solution-name: ${{ inputs.solution-name }}
          solution-output-file: ${{ inputs.solution-output-folder }}/${{ inputs.solution-name }}.zip
          managed: false

      - name: Unpack Solution
        uses: microsoft/powerplatform-actions/unpack-solution@v1
        with:
          solution-file: ${{ inputs.solution-output-folder }}/${{ inputs.solution-name }}.zip
          solution-folder: ${{ inputs.solution-output-folder }}/${{ inputs.solution-name }}
          solution-type: ${{ inputs.solution-type }}
          overwrite-files: true

      - name: Branch Solution
        uses: microsoft/powerplatform-actions/branch-solution@v1
        with:
          solution-folder: ${{ inputs.solution-output-folder }}/${{ inputs.solution-name }}
          solution-target-folder: solutions/${{ inputs.solution-name }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          allow-empty-commit: true
